.alert {
  padding: 1rem;
  border-radius: 5px;
  color: white;
  margin: 1rem 0;
  font-weight: 500;
  width: 65%;
}

.alert-success {
  background-color: #42ba96;
}

.alert-danger {
  background-color: #fc5555;
}

.alert-info {
  background-color: #2e9afe;
}

.alert-warning {
  background-color: #ff9966;
}
